body
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), #68B234 url('../images/page.png') fixed;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), -webkit-linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), -moz-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), -moz-linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), -o-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), -o-linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), -ms-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), -ms-linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PAQ2AMADAsHP/1i4BA5jgJp7QkFXBdt3PescPzK8DTmlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaBrRNKJpRNOIphFNI5pGNI1oGtE0otkipAP3zJQUFgAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAW0lEQVRoge3PwQ2AIADAQGT/Dfm7gW9ZgsSL6U3QXvez3vED8+uAUxrRNKJpRNOIphFNI5pGNI1oGtE0omlE04imEU0jmkY0jWga0TSiaUTTiKYRTSOaRjSNaDZZagQZhi1neAAAAABJRU5ErkJggg==), linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  -svg-background: linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(136, 206, 86, 0.19) 600px, rgba(255, 255, 255, 0.45) 1050px) no-repeat, url('../images/page.png'), linear-gradient(top, #17280B 0, #74C639 600px, #C7E8B0 1050px) no-repeat;
  background-attachment: scroll, scroll, fixed, fixed, fixed !important;
  margin: 0 auto;
  font-size: 13px;
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
}

table
{
  font-size: 13px;
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

body
{
  text-align: justify;
}

body, li, table, a, a:link, a:visited, a.visited, a:hover, a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

p
{
  margin: 12px 0;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 28px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: 120%;
}

a, a:link
{
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  text-decoration: none;
  color: #385F1C;
}

a:visited, a.visited
{
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  text-decoration: none;
  color: #5B7934;
}

a:hover, a.hover
{
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  text-decoration: underline;
  color: #4F8627;
}

h1
{
  color: #4F8627;
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
  text-shadow: 0.7px 0.7px 0 rgba(153, 153, 153, 0.8), 1.4px 1.4px 0 rgba(140, 140, 140, 0.8), 2.1px 2.1px 1px rgba(122, 122, 122, 0.5), 2.8px 2.8px 0 rgba(107, 107, 107, 0.5), 3.5px 3.5px 0 rgba(92, 92, 92, 0.49);
}

h1 a, h1 a:link, h1 a:hover, h1 a:visited
{
  font-size: 26px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
  text-shadow: 0.7px 0.7px 0 rgba(153, 153, 153, 0.8), 1.4px 1.4px 0 rgba(140, 140, 140, 0.8), 2.1px 2.1px 1px rgba(122, 122, 122, 0.5), 2.8px 2.8px 0 rgba(107, 107, 107, 0.5), 3.5px 3.5px 0 rgba(92, 92, 92, 0.49);
}

h2
{
  color: #4F8627;
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
  font-size: 22px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h3
{
  color: #5B7934;
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
  font-size: 18px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h4
{
  color: #0E1807;
  margin: 10px 0 0;
  font-size: 16px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
  font-size: 16px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h5
{
  color: #0E1807;
  margin: 10px 0 0;
  font-size: 14px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
  font-size: 14px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h6
{
  color: #203710;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
  font-size: 13px;
  font-family: 'Abril Fatface', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

header, footer, nav
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, nav
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  color: #000000;
}

.clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, li h1
{
  margin: 1px;
}

li h2, li h2
{
  margin: 1px;
}

li h3, li h3
{
  margin: 1px;
}

li h4, li h4
{
  margin: 1px;
}

li h5, li h5
{
  margin: 1px;
}

li h6, li h6
{
  margin: 1px;
}

li p, li p
{
  margin: 1px;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 12px;
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FDFDFB;
  border: 1px solid #BED69F;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  color: #000000 !important;
  font-size: 12px;
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: none;
}

a img
{
  border: 0;
}

body img
{
  border: 1px solid #ADCDA8;
  margin: 5px 5px 5px 5px;
}

body table
{
  border-collapse: collapse;
  margin: 1px;
}

body th, body td
{
  padding: 2px;
  border: dotted 1px #90B95B;
  vertical-align: top;
  text-align: left;
}

body th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.image-caption-wrapper
{
  padding: 5px 5px 5px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera  ul>li:before
{
  bottom: 0;
}

li
{
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  text-align: justify;
  color: #0C130B;
  margin: 5px 0 0 11px;
}

ul>li, ol
{
  padding: 0;
}

ul>li
{
  padding-left: 13px;
}

ul>li:before
{
  margin-left: -13px;
}

ol, ul
{
  margin: 1em 0 1em 11px;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 11px;
}

li
{
  margin: 5px 0 0 0;
}

ol>li
{
  overflow: visible;
}

ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #E6F5DB url('../images/postquote.png') no-repeat scroll;
  padding: 12px 12px 12px 49px;
  margin: 0 0 0 10px;
  color: #101C08;
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  font-weight: normal;
  font-style: italic;
  text-align: justify;
  overflow: auto;
  clear: both;
}

blockquote a, blockquote a, blockquote a:link, blockquote a:link, blockquote a:visited, blockquote a:visited, blockquote a:hover, blockquote a:hover
{
  color: #101C08;
  font-family: 'Palatino Linotype', Georgia, 'Times New Roman', Times, Serif;
  font-weight: normal;
  font-style: italic;
  text-align: justify;
}

blockquote p, blockquote p
{
  margin: 0;
}

/* Created by Artisteer vundefined.undefined.undefined.undefined */

/* Compatibility rules for the default TinyMCE skin: */
td 
{ 
    color: inherit; 
    font-family: inherit; 
    font-size: inherit; 
    margin: inherit; 
}

abbr
{
    border-bottom: 0px none;
}

cite
{
    border-bottom: 0px none;
}

body 
{
    border-collapse: collapse;
}